// Define variables for your color scheme

// For example:
$red: #FF693B;
$blue: #0060B3;
$yellow: #FFD700;
$orange: #E67E22;
$green: #60C466;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #241F20;
$white: #FFFFFF;
$medium-gray: #F4F4F4;
