
<footer id="myFooter">
  <div class="container">
    <div class="row">

      <!-- Logo -->
      <div class="col-sm-2">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", class:"footer-logo", height: 100 %>
        <% end %>
      </div>

      <!-- Allegra -->
      <div class="col-sm-3">
        <h5>Allegra Toys Ltda</h5>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/pages/about">Nous connaître</a></li>
            <li><a href="http://www.allegratoys.com">Notre site consommateurs</a></li>
        </ul>
      </div>

      <!-- Tourisme -->
      <div class="col-sm-2">
        <h5>Produits</h5>
        <ul>
            <li><a href="/products/1-a-fan-of-paris">A Fan of Paris</a></li>
            <li><a href="3-ma-famille-et-moi">Ma Famille et Moi</a></li>
            <li><a href="/products/2-frisfly">FrisFly</a></li>
        </ul>
      </div>

      <!-- Nous contacter -->
      <div class="col-sm-5">
        <strong>Contact commercial</strong>
        <ul>
          <li><strong>Beatriz Andrade – Manager </strong></li>
          <li>Allegra Toys Ltda – 84 rue Monge – 75005 – Paris</li>
          <li>Tel fixe : 09.73.67.99.27    Cell : 07.82.74.01.52</li>
          <li>Email : allegratoys@gmail.com</li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Copyright -->
  <div class="footer-copyright">
      <p>© 2018 Copyright Allegratoys</p>
  </div>

</footer>
