<div class="container">
  <div class="paragraph-about">
    <h1> Présentation Allegra Toys Ltda </h1>

    <p>
      Allegra Toys Paris est une filiale de la société Allegra Toys Ltda brésilienne, établie à Rio de Janeiro, Brésil. Nous sommes installés à Paris depuis 1999.
      <br> Siret : 419 461 702 00021
      <br> TVA : FR 44 419 461 702
    </p>
  </div>

  <div class="paragraph-about">
    <h2> Conception et Fabrication </h2>

    <p>
    Nous concevons des jeux et jouets pour enfants et faisons fabriquer là où nous trouvons l’expertise et les meilleures conditions. Par exemple pour MiniZoo – gamme de déguisements pour enfants, le tissu est fabriqué et imprimé en Italie, ensuite envoyé en Tunisie pour faction.
    </p>
  </div>

  <div class="paragraph-about">
    <h2>Clients</h2>
    <p>
      Notre premier client en France était la NMPP, leur ayant vendu plus de 80.000 déguisements de halloween, pour la première fois en France (et peut être au monde) dans les kiosques de journaux.
      <br> Autres clients : Toys R Us, Monoprix, Galeries Lafayette, Bon Marché, Musée d’Histoire Naturelle, etc.
      <br> Nous vendons aussi à travers les Papeteries Pichon, à l’Education Nationale.
    </p>
  </div>

  <div class="paragraph-about">
    <h2>
      Nouveaux Produits 2018
    </h2>

    <p>
      Nous évoluons vers les produits pour le Tourisme, pour innover. Une nouvelle gamme de Pop-Up Fans sera lancée en Octobre, sous le nom A Fan of Paris.
      <br> Pour les enfants nous lançons un jeu de plage, le FrisFly, golf de plage avec frisbee.
      <br>Ma Famille et Moi est un arbre généalogique en bois pour enfants.
    </p>
  </div>

  <div class="paragraph-about">
    <p>Tous ces produits sont consultables sur :
      <br>Pour les nouveaux produits : <a href="/">www.allegratoys.pro</a>
      <br>Pour les produits déjà commercialisés en France : <a href="http://allegratoys.com/Produits.html">www.allegratoys.com</a>
    </p>
  </div>

  <div class="paragraph-about">
    <h2>Contact Commercial</h2>
    <p><strong>Beatriz Andrade – Manager </strong>
      <br>Allegra Toys Ltda – 84 rue Monge – 75005 – Paris
      <br>Tel fixe : 09.73.67.99.27    Cell : 07.82.74.01.52
      <br>Email : allegratoys@gmail.com
    </p>
  </div>

</div>







