<div class="banner-small" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.unsplash.com/photo-1483729558449-99ef09a8c325?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec23000300013938b7094a2e14398585&auto=format&fit=crop&w=750&q=80');">
  <div class="banner-content">
    <h1>Nos nouveaux produits - 2018 </h1>
    <!-- <p>Inventons ensemble les jouets de demain</br></p> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="title">
        <h2>Découvrez <strong> A Fan of Paris, FrisFly et Ma Famille et Moi</strong><br>nos 3 nouveaux produits</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= product.pic_url %>');">
          <div class="card-title">
            <h3><%= product.name %></h3>
          </div>
          <a class="card-link" href="/products/<%= "#{product.id}-#{product.name.parameterize}" %>"  ></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


