<div class="content-show-prod">
  <div class="container">
    <div class="row">
<!--       <div class="title-product">
        <h1><#%= @product.name %></h1>
      </div> -->
      <div class="col-xs-12 col-md-6">
        <div class="description-product">
          <%= image_tag "#{@product.description}.jpg", class:"description-pic" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="images-product-all">
          <% pictures_array = @product.pictures.split(", ") %>
          <% pictures_array.each do |picture|  %>
            <%= image_tag "#{picture}.png", class:"all-pic" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
